<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WomenAffairs</title>
</head>
<body style="background-color:pink;">

    <div style="text-align:center;">
        <h1 style ="color:red;font-size=30px;">Prediction of Women Affairs</h1>
    <form action ='/submit', method="POST">
        <input type = "number" name="Intercept", placeholder="Intercept" required><br><br>
        <input type = "number" name="occ_2", placeholder="occ_2" required><br><br>
        <input type = "number" name="occ_3", placeholder="occ_3" required><br><br>
        <input type = "number" name="occ_4", placeholder="occ_4" required><br><br>
        <input type = "number" name="occ_5", placeholder="occ_5" required><br><br>
        <input type = "number" name="occ_6", placeholder="occ_6" required><br><br>
        <input type = "number" name="occ_husb_2", placeholder="occ_husb_2" required><br><br>
        <input type = "number" name="occ_husb_3", placeholder="occ_husb_3" required><br><br>
        <input type = "number" name="occ_husb_4", placeholder="occ_husb_4" required><br><br>
        <input type = "number" name="occ_husb_5", placeholder="occ_husb_5" required><br><br>
        <input type = "number" name="occ_husb_6", placeholder="occ_husb_6" required><br><br>
        <input type = "number" name="rate_marriage", placeholder="rate_marriage" required><br><br>
        <input type = "number" name="age", placeholder="age" required><br><br>
        <input type = "number" name="yrs_married", placeholder="yrs_married" required><br><br>
        <input type = "number" name="children", placeholder="children" required><br><br>
        <input type = "number" name="religious", placeholder="religious" required><br><br>
        <input type = "number" name="educ", placeholder="educ" required><br><br>
        <input type="submit">
    </form>
    </div>

</body>
</html>